app-recipe-list{
  color: red;
}

#add-recipe{
  margin-bottom: 10px;
}

app-recipe-item{
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: initial;
}

div:hover{
  background-color: rgba(255, 255, 245, 1);
}
